<c><h1> Happy Hour </h1> </c>
<p>Set how length of time in which Happy hour should last by adjusting countdown timer.</p>

<button =type="button" class="btn btn-primary btn-lg btn-block">
<%= link_to "Adjust Timer", pages_ManagerOptions_path %>
</button>
