<p id="notice"><%= notice %></p>

<h1>Daily Revenue</h1>
<h2></h2>

<table>
  <thead>
  </thead>

                     
</table>

<br>

<thead>
 <p>
  
      <th>Total Revenue:</th>
      <br/>
      <th>Revenue From Food:</th>
      <br/>
      <th>Revenue From Tax:</th>
      <br/>
      <th>Revenue From Tips:</th>
      <br/>
  
    </p>
  </thead>
