<h1> Manager Options </h1>

<button type="button" class="btn btn-secondary btn-lg btn-block">
<%= link_to "Comp an Item", pages_ManagerOptions_path %>
</button>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Update Menu", menus_path %>
</button>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Weekly Revenu & Sales", pages_ManagerOptions_path %>

</button>

<button type="button" class="btn btn-secondary btn-lg btn-block"><%= link_to "Set Happy Hours", pages_ManagerOptions_path %>
</button>