<h4> Nutritional Info </h4>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Veggie Spring rolls</h5>
    <p class="card-text">Ingredients: Spring Roll Skin: Wheat Flour (48%), Water, Coconut Oil, Salt. Filling: Cabbage, Celery, Onion, Carrots, Garlic, Ginger, Soy Sauce (water, wheat, soybeans, salt, sodium benzoate (less than 1/10 of 1%) as a preservative), Sesame Oil (soybean oil, sesame oil), Chili Sauce (red chili, sugar, salt, garlic, distilled vinegar, potassium sorbate, contains sodium bisulfate as preservative, xanthan gum), Herbs, Salt, Sugar, Spices, Egg Wash to Seal.</p>
  </div>
  <ul class="list-group list-group-flush">
  	<li class="list-group-item">Calories: 592 </li>
    <li class="list-group-item">Allergens: Eggs, Wheat, Soy, Tree Nuts </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Corn Patties</h5>
    <p class="card-text">Ingredients: corn, vegetable oil, thai red curry paste, egg, rice flour, baking powder, salt, kaffir lime leaves, thai basil leaves, thai sweet chili sauce</p>
  </div>
  <ul class="list-group list-group-flush">
  	<li class="list-group-item">Calories: 520 </li>
    <li class="list-group-item">Allergens: Eggs, Wheat, Soy, Tree Nuts </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Goyza</h5>
    <p class="card-text">Ingredients: ground pork, onion,  garlic, ginger, carrot, napa cabbage, sesame oil, salt, gyoza wrappers, rice vinegar, soy sauce, chili flakes.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Calories: 507 </li>
    <li class="list-group-item">Allergens: Soy, Sesame Oil </li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>