<p id="notice"><%= notice %></p>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<h1>Kitchen Staff - Incoming Orders</h1>
<table class= "table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Order #</th>
      <th scope="col">Order</th>
      <th scope="col">Status</th>
      <th scope="col">Chef</th>
      <th scope="col">Notes (Allergies, Customizations)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">Claimed
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">Complete
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the side</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option2" autocomplete="off">Claimed
      </label>
      <label class="btn btn-secondary">
        <input type="radio" name="options" id="option3" autocomplete="off">Complete
      </label>
    </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the Side</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">Claimed
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">Complete
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the Side</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">Claimed
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">Complete
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the Side</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">Claimed
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">Complete
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the Side</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">Claimed
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">Complete
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the Side</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">Claimed
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">Complete
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the Side</td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Chicken Tenders</td>
      <td>
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
          <label class="btn btn-secondary active">
            <input type="radio" name="options" id="option1" autocomplete="off" checked>Open
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option2" autocomplete="off">Claimed
          </label>
          <label class="btn btn-secondary">
            <input type="radio" name="options" id="option3" autocomplete="off">Complete
          </label>
        </div>
      </td>
      <td>
        <div class="form-group">
          <select class="form-control" id="sel1">
          <option>Chef Name</option>
          <div class="dropdown-divider"></div>
          <option>Chef Bob</option>
          <div class="dropdown-divider"></div>
          <option>Chef Tina</option>
          <div class="dropdown-divider"></div>
          <option>Chef Jene</option>
          <div class="dropdown-divider"></div>
          <option>Chef Louis</option>
          </select>
        </div>
      </td>
      <td>Ranch on the Side</td>
    </tr>
  </tbody>
</table>
<br>
<%= link_to 'New Kitchen Staff', new_kitchen_staff_path %>