<p id="notice"><%= notice %></p>

<p>
  <strong>Chef name:</strong>
  <%= @kitchen_staff.chef_name %>
</p>

<%= link_to 'Edit', edit_kitchen_staff_path(@kitchen_staff) %> |
<%= link_to 'Back', kitchen_staffs_path %>
