@import "bootstrap";

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
img.menu-show{
	width: 400px;
	height: auto;
}

.menu-box {
	height: 600px;
	position: relative;
	box-shadow: 10px 10px 5px #888888;
	background: #bdc3c7;
	margin-bottom: 20px;
}

img.menu-index{
	height: 70%;
	width: 100%;
	object-fit: cover;
}

.table-box {
	height: 200px;
	position: relative;
	background: #bdc3c7;
	margin-bottom: 20px;
}

.menu-box ul {
	list-style-type:none;
	position: absolute;
	bottom: 0;
}
.table-box {
	height: 200px;
	position: relative;
	background: #bdc3c7;
	margin-bottom: 20px;
}
.inline_block p {
    display: inline-block;
}
